<%- include ("../partials/header") %>

	<div class="container">
		<header class="p-5 rounded-3">
			<div class="container">
				<h1>
					Welcome To CampScout!
				</h1>
				<p>
					View our hand-picked campgrounds from all over the United States
				</p>
				<p>
					<a class="btn btn-success btn-lg" href="/campgrounds/new">Add New Campground</a>
				</p>
			</div>
		</header>
		
		
		<div class="row text-center" style="display:flex; flex-wrap: wrap;">
				<% campgrounds.forEach(function(campground){ %>
				<div class="col-md-3 col-sm-6">
					<div class="thumbnail mb-4">
						<img src="<%= campground.image %>" class="rounded">
						<div class="caption">
							<h4>
								<%= campground.name %>
							</h4>
						</div>
						<a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
					</div>
				</div>
			<% }) %>	
			
		</div>		
	</div>
	

<%- include ("../partials/footer") %>